.button {
    width: 100%;
    background-color: darkblue;
    color: white;
    border: none;
    padding:20px;
    cursor: pointer;
    margin-top: 20px;
}
.button:disabled{
    background-color: red;
    cursor: not-allowed;
}